%%-*- mode: erlang -*-

%% external dependencies are locked down via git commit SHA-1 sum.  if
%% you notice any outdated ones, please update, test and submit a pull
%% request
{deps,
 [{folsom, "0.7.4", {git, "git://github.com/boundary/folsom", "154024e3c4"}},
  {zeta, ".*", {git, "git://github.com/campanja/zeta", "campanja"}}
 ]}.
